<div class="contenedor-footer">
    <h6>
        Iván Utria
    </h6>
    <div class="redes">
        <a class="color-github" href="https://github.com/iutria" target="_blank"><i class="bi bi-github"></i></a>
        <a class="color-facebook" href="https://www.facebook.com/iutria97" target="_blank"><i class="bi bi-facebook"></i></a>
        <a class="color-instagram" href="https://www.instagram.com/iutria97/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a class="color-twitter" href="https://twitter.com/iutria97" target="_blank"><i class="bi bi-twitter"></i></a>
    </div>
</div>