.contenedor-tarjetas{
    display: grid ;    
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: minmax(250px,auto);    
    gap: 10px;    
    padding: 20px;
    grid-auto-flow: dense;    
}
.item-card{
    border-radius: 5px;
    overflow: auto;
    position: relative;    
}
.item-card:hover{
    transform: scale(1.01);
}
.item-card::before{
    content: '';
    width: 100%;
    height: 30px;
    background: linear-gradient(rgba(0,0,0,0), #2d3436);
    position: absolute;
    bottom: 0;
    left: 0;

}
@media screen and (min-width: 600px) {
    .wide{
        grid-column: span 2;
    }
    .tall{
        grid-row: span 2;
    }
}
.no-encontrado{
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.no-encontrado img{
    width: 200px;
}
.no-encontrado span{
    font-size: 50px;
    color: #198754;
    font-weight: bold;
}