.container-home{
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: calc(100vh - 50px);
    /* height: 60vh; */
    width: 100%;    
    background: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
}
.input-group{
    width: 70%;
}
@media screen and (max-width: 700px) {
    .select{
        width: 10px;
    }
}
